html,
body {
  margin: 0;
  padding: 0;
}

/* NAVBAR */

.navbar {
  font-family: "Poppins", sans-serif;
  color: grey;
  padding: 1em;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline-block;
  padding-right: 1.8em;
  font-size: 0.9em;
}

.navbar li :hover {
  background-color: lightblue;
}

.navRight {
  display: flex;
  align-items: center;
  float: right;
}

.navbarBlog {
  text-decoration: none;
}

/* LOGO */
.logo {
  padding: 5px;
  width: 15%;
  height: auto;
}

.logo-header {
  float: left;
}
