html,
body {
  margin: 0;
  padding: 0;
}

/* NAVBAR */

.navbar {
  font-family: "Poppins", sans-serif;
  color: grey;
  padding: 3em;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline-block;
  padding-right: 1.8em;
  font-size: 0.9em;
}

.navbar li :hover {
  background-color: lightblue;
}

.navRight {
  display: flex;
  align-items: center;
  float: right;
}

.navbarBlog {
  text-decoration: none;
}

/* LOGO */
.logo {
  padding: 1px;
  width: 70%;
  height: auto;
}

.logo-header {
  float: left;
}

/* CARD */
.card {
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  margin: 1.5rem;
}

.card__img {
  width: 100%;
  height: auto;
  max-height: 225px;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  justify-content: center;
}

/* HEADER */
.header {
  margin: auto;
  width: 80%;
  height: 275px;
  padding: 10px;
}
