html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Work Sans", sans-serif;
}

h2,
h3 {
  font-family: "Crimson Text", serif;
}

/* NAVBAR */
.navbar {
  font-family: "Poppins", sans-serif;
  color: grey;
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 5px;
  font-size: 18px;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline-block;
  margin-left: 10px;
  font-size: 0.9em;
  padding: 10px;
}

.navbar li :hover {
  color: #fe4974;
}

.navRight {
  float: right;
  margin-left: 15px;
}

.navbarBlog {
  text-decoration: none;
}

/* CARD */
.card {
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  margin: 1.5rem;
}

.card__img {
  width: 100%;
  height: auto;
  max-height: 225px;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}

.card2 {
  padding-left: 20px;
  padding-bottom: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(248, 248, 248);
  font-family: "Poppins", sans-serif;
  text-align: left;
  border-radius: 1rem;
  position: relative;
  margin: 1.5rem;
}

.card3 {
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #ecf0f3;
  font-family: "Poppins", sans-serif;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  margin: 1.5rem;
}

.card4 {
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #ecf0f3;
  font-family: "Poppins", sans-serif;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  margin: 1.5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  justify-content: center;
}

.container2 {
  display: list-item;
  grid-template-columns: repeat(auto-fit, 25rem);
  justify-content: center;
}

.container3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  margin-left: 2rem;
}

/* HEADER */
.header {
  margin-top: 20px;
  width: 100%;
  height: 400px;
  padding-bottom: 20px;
  overflow: hidden;
}
.header_img {
  width: 100%;
  height: 1000px;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

/* BUTTON */
.button {
  background-color: #fce3e8;
  color: #fe4974;
  font-weight: bold;
  padding: 10px;
  border-color: #ffdde5;
  border-radius: 0.5rem;
}
.button:hover {
  color: white;
  border-color: #f06f8d;
  background-color: #f06f8d;
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}
.button2 {
  background-color: #fe4974;
  color: white;
  font-size: medium;
  font-weight: bold;
  padding: 10px;
  border-color: #fe4974;
  border-radius: 0.5rem;
}
.button2:hover {
  color: #f3dee3;
  border-color: #f76a8a;
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

/*POST*/
.postContent {
  font-family: "Poppins", sans-serif;
  font-size: large;
  line-height: 2em;
  margin-top: 1.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-bottom: 1.5rem;
}

/*FORMS*/
.fields {
  width: 100%;
  padding: 5px 5px 5px 5px;
}
.fields input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  font-size: 18px;
  color: #555;
  padding: 20px 10px 20px 20px;
}
.fields textarea {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  width: 100%;
  color: #555;
  padding: 20px 10px 20px 20px;
}
.entry {
  margin-right: 2.7rem;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: inset 8px 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.entry:hover {
  box-shadow: 3px 3px 3px 0 #ff9e9e, -3px -3px 3px 0 #ff9e9e;
  transition: 3s all;
  /* box-shadow: 6px 5px 6px 5px #84b3e2, -6px -6px 6px rgb(219, 131, 131); */
}
